<div id="wrapper">
	<div class="bloc_recettes">
		
		<%= render "layouts/form" %> 

		<hr class="featurette-divider" id="line-separator-recettes-2">
		<h1><%= @dishes.count %> recettes </h1>
		<% @dishes.each do |dish| %>
			<div class="bloc_listing_dishes">
				<div class="visuel">
					<!-- <img src="/assets/dishes/<%=dish.id%>" alt="" class="img-thumbnail" height="200" width="236"/> -->
					<%= link_to image_tag("dishes/#{dish.id}.jpg", :height => 200, :width => 236, :class => "img-thumbnail"), {:action => 'show', :controller => 'dishes', :id => dish.id }%>
				</div>
				<div class="texte">
					<div class="titre">
						<h3><%= dish.name %></h3>
					</div>
					<div class="infos">
						<ul class="liste_infos">
							<li><strong>Préparation :</strong> <%= dish.preparation_time %> mins</li>
							<li><strong>Type de plat : </strong><%= dish.category.name %></li>
							<li><strong>Difficulté :</strong>
								<% for i in 1 .. dish.difficulty_id %>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<% end %>
								- <strong>Coût :</strong>
								<% for i in 1 .. dish.cost_id %>
									<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
								<% end %>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>